<div class="container">
    <div class="row header">
        <div class="col-md-2 col-sm-2 col-xs-2 cv-header-left-Side-Design">
            <label vertical-align>Brand</label>
        </div>

        <div class="col-md-1 col-md-offset-9 col-sm-2 col-sm-offset-8 col-xs-4 col-xs-offset-6 cv-header-right-Side-Design">
            <div>
                <label>סל קניות</label>
                <br />
                <span>{{$ctrl.selectedProductsService.numberOfProducts}} מוצרים</span>
            </div>
        </div>

    </div>
</div>
